	li{
		list-style-type: none;
		text-align: center;
		padding: 10px;
		border-bottom: 1px solid #C5C5C5;
		color: #65656a;
		transition: background 0.5s ease-out;

		&:hover {
			background: rgba(255,255,255,.5)
		}
	}

	.content-wrapper{
		display: block;
		text-align: center;
		padding: 5px;
		margin-bottom: 10px
	}