.modal{
	position: fixed;
	display: none; 
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background: rgba(255,255,255,.4);
	padding-top: 40px;

	&.open {
		display: block;
		z-index: 10;
	}

	.close {
		position: absolute;
		right: 20px;
		top: 20px;
		cursor: pointer;
	}
}

