.input{
	width: 100%;
	max-width: 500px;
	margin-bottom: 20px;
	padding: .5rem .75rem;
	border: 1px solid rgba(0,0,0,.15);
	border-radius: 5px;
	background: rgba(255,255,255,.7);
	font-family: 'Gotham-Book';
	font-weight: normal;
	color: #65656a;
	transform: border-color 0.5s ease-out;

	&:invalid{
		border-color: #f00;
	}

	&:valid{
		border-color: green;
	}

	&[placeholder]{
		color: #65656a;
	}
}