.button{
	font-family: 'Gotham-Book';
	color: #fff;
    border-color: #1164a6;
    background-color: #1164a6;
    transition-property: opacity;
    transition-duration: .2s;
    transition-timing-function: linear;
    text-transform: uppercase;
    border-width: 2px;
    display: inline-block;
    border-style: solid;
    outline: none;
    border-radius: 100px;
    font-weight: normal;
    line-height: 1.4;
    vertical-align: middle;
    text-align: center;
    text-decoration: none;
    text-transform: uppercase;
    white-space: nowrap;
    letter-spacing: 0;
    -webkit-user-select: none;
    padding: 10px;

    &:hover{
    	opacity: .7;
    	cursor: pointer;
    }

    &.new-user{
    	display: block;
    	margin: 20px auto;
    }

    &.edit,
    &.delete{
        margin:0 10px;
    }
}