@import 'fonts.scss';

*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

.blur {
	-webkit-filter: blur(2px)
}

.main-content {
	display: flex;
	flex-flow: column;
	align-items: center;
	justify-content: center;
	height: 100%;
	margin-top: 10vh;
}

body{
	background: #ededed;
	font-family: 'Gotham-Medium';
}

p {
	color: #65656a;
}