@font-face {
    font-family: 'Gotham-Medium';
    src: url(fonts/gotham-medium.otf);
}
@font-face {
    font-family: 'Gotham-Book';
    src: url(fonts/gotham-book.otf);
}
@font-face {
    font-family: 'Gotham-Bold';
    src: url(fonts/gotham-bold.otf);
}